extends layout

block content
	.w3-container
		.w3-panel.w3-blue.w3-center
			h1= title
			p Listagem das #{title}
	.w3-container
		table.w3-table-all.w3-centered
			thead
				tr
					th Designação
					th Sigla
					th Estado
					th ID (Hiperligação)
			tbody
				each tipologia in tipologias
					tr.w3-hover-blue
						td= tipologia.designacao
						td= tipologia.sigla
						td= tipologia.estado
						td
							a(href='/tipologias/' + tipologia.id) #{tipologia.id}
