extends layout

block content
	.w3-container.w3-teal.w3-center
		h1 Registo Indivídual
		p Página do aluno #{student_info.numero}
	br
	br
	.w3-container.w3-center
		p Informação geral:
		table.w3-table-all
			tr
				th Número
				th Nome
				th Git
			tr
				td= student_info.numero
				td= student_info.nome
				td= student_info.git
		br
		p Trabalhos de Casa:
		p (Valor Booleano a indicar se este foi realizado)
		table.w3-table-all
			tr
				th TPC1
				th TPC2
				th TPC3
				th TPC4
				th TPC5
				th TPC6
				th TPC7
				th TPC8
			tr
				td= student_info.tpc[0]
				td= student_info.tpc[1]
				td= student_info.tpc[2]
				td= student_info.tpc[3]
				td= student_info.tpc[4]
				td= student_info.tpc[5]
				td= student_info.tpc[6]
				td= student_info.tpc[7]
	br
	br
	.w3-container.w3-center
		a(class='button' href='/students') Voltar
